entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python snarkbot/snarkbot.py"]
deploymentTarget = "gce"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Reddit Snark Bot"

[[workflows.workflow]]
name = "Run"
author = 40825048
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 40825048
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Reddit Bot"
author = 40825048
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python snarkbot/main.py"

[[workflows.workflow]]
name = "Discord CAH Bot"
author = 40825048
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Reddit Snark Bot"
author = 40825048
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python snarkbot/snarkbot.py"
